.circle {
    background: rgba(255, 0, 0, 0.45);
    display: grid;
    grid-template-columns: repeat();
}

.circle__item {
    width: 100%;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}


.justfy-center {
    justify-content: center;
}

.justfy-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}


[class*="col-"] {
    padding: 0 15px;
    margin-bottom: 20px;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}